@model Tim.Twime.Models.RideAnalysis

<table>
    <tr>
        <td>
            <table>
                <tr>
                    <td>Distance:</td>
                    <td>@Model.Distance</td>
                </tr>
                <tr>
                    <td>Duration:</td>
                    <td>@Model.Duration</td>
                </tr>
                <tr>
                    <td>Energy:</td>
                    <td>@Model.Energy</td>
                </tr>
                <tr>
                    <td>Wind energy:</td>
                    <td>@Model.WindEnergy</td>
                </tr>
                <tr>
                    <td>Wind climb equivalent (m):</td>
                    <td>@Model.WindClimbEquivalent</td>
                </tr>
            </table>
        </td>
        <td>
            @Html.Partial("Charts/_RideProfileChartJs")
        </td>
    </tr>
</table>






